.crm_header {
  ul {
    .box {
      width: 33.3333%;
      text-align: center;
      background-color: #000000;
      cursor: pointer;

      a {
        padding: 15px 0;
      }
    }

    .box:first-child {
      border-top-left-radius: 10px; /* Adjust the radius as needed */
      border-top-right-radius: 0;
    }

    .box:last-child {
      border-top-right-radius: 10px; /* Adjust the radius as needed */
      border-top-left-radius: 0;
    }

    .active {
      background-color: #adadad;
      span {
        color: #000;
      }
    }
  }
}
